:root {
  --theme-color1: #051431;
  --theme-color2: rgba(185, 208, 255, 0.2);
  --theme-color3: #0071f5;
  --theme-color1-rgb: 5, 20, 49;
  --theme-color2-rgb: 185, 208, 255;
  --theme-color3-rgb: 0, 113, 245;
  --theme-color1-text-color: #fff;
  --theme-color2-text-color: #fff;
  --theme-color3-text-color: #fff;
  --theme-color1-border: rgba(5, 20, 49, 0.2);
  --body-font-family: "GT Walsheim Pro", sans-serif;
  --heading-font-family: "GT Walsheim Pro", sans-serif;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/gt-walsheim-pro/GTWalsheimPro-Regular.eot");
  src: url("../fonts/gt-walsheim-pro/GTWalsheimPro-Regulard41d.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Regular.woff2") format("woff2"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Regular.woff") format("woff"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Regular.ttf") format("truetype"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Regular.html#GTWalsheimPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/gt-walsheim-pro/GTWalsheimPro-Medium.eot");
  src: url("../fonts/gt-walsheim-pro/GTWalsheimPro-Mediumd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Medium.woff2") format("woff2"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Medium.woff") format("woff"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Medium.ttf") format("truetype"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Medium.html#GTWalsheimPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/gt-walsheim-pro/GTWalsheimPro-Bold.eot");
  src: url("../fonts/gt-walsheim-pro/GTWalsheimPro-Boldd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Bold.woff2") format("woff2"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Bold.woff") format("woff"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Bold.ttf") format("truetype"), url("../fonts/gt-walsheim-pro/GTWalsheimPro-Bold.html#GTWalsheimPro-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.container-fluid {
  padding: 0 70px;
}

@media (max-width: 1400px) {
  .container-fluid {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .container-fluid {
    padding: 0 0;
  }
}
.container-1430 {
  max-width: 1430px;
}

p {
  color: rgba(16, 16, 16, 0.6);
  font-weight: 400;
  line-height: 24px;
}